<mat-card>
  <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="createProjet(formDirective)">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nom du projet" required formControlName="nom">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Tu nous en dis plus sur ton client et ses besoins ?" required formControlName="besoinsClient"></textarea>
      </mat-form-field>
      <button mat-button type="submit" >Create</button>
    </div>
  </form>
</mat-card>

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->

<!-- <mat-step [stepControl]="firstFormGroup"> -->

<!-- 
  <form [formGroup]="creationForm" #formDirective="ngForm" >
  <mat-horizontal-stepper  [linear]="isLinear">
    
    <mat-step  >
      <ng-template matStepLabel>Wefinup</ng-template>
      <mat-form-field>
        <input matInput placeholder="Nom du projet" formControlName="nom" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Tu nous en dis plus sur ton client et ses besoins ?"
          formControlName="besoinsClient" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step  >
        <ng-template matStepLabel>Entreprise</ng-template>
        <mat-form-field>
          <input matInput placeholder="SIREN" formControlName="siren" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Synthèse</ng-template>
       
        <div>
          <button mat-button matStepperPrevious type="button">Back</button> -->
          <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
          <!-- <button mat-button (click)="createProjet(formDirective)">Create</button>
        </div>
      </mat-step>


  </mat-horizontal-stepper>

  </form> -->






  <!-- </mat-step> -->
<!-- <mat-step [stepControl]="secondFormGroup">
  <form [formGroup]="secondFormGroup">
    <ng-template matStepLabel>Entreprise</ng-template>
    <mat-form-field>
      <input matInput placeholder="SIREN" formControlName="siren" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
<mat-step>
  <ng-template matStepLabel>Synthèse</ng-template>
  <button mat-button type="submit">Create</button>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </div>
</mat-step>
</mat-horizontal-stepper> -->